*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
p{
    font-weight: 300;
    color: #111;
}
header{
    position: fixed;
    top: 0px;
    left: 0px;
    padding: 20px 10px;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition: 0.5s;
}
.logo{
    color: #ffff;
    font-weight: bold;
    font-size: 2em;
    text-decoration: none;
}
.logo span{
    color: #fb911f;
}
.navbar{
    display: flex;
    position: relative;
}
.navbar li{
    list-style: none;
}
.navbar li a{
    color: #fff;
    text-decoration: none;
    margin-left: 30px;
    font-weight: 700;
}
.btn-reserve{
    padding: 10px 20px;
    background-color: #fb911f;
    margin-top: -10px;
    text-transform: uppercase;
}
.btn-reserve:hover{
    background-color: #d87710;
    transition: ease-out;
}
header .navbar li a:hover{
    color:#fb911f;
    border-bottom: 2px solid #fb911f;
}
.banner{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('./images/pageheader-banner.jpg');
    background-size: cover;
}
.banner .content{
    max-width: 70%;
    text-align: center;
}
.banner .content h2{
    color: #fff;
    font-size: 3em;
    text-transform: capitalize;
}
.content p:nth-child(2){
    color: #fff;
    font-size: 1.2em;
}
.btn1{
    font-size: 1em;
    color: #fff;
    background-color: #fb911f;
    padding: 10px 20px;
    display: inline-block;
    text-decoration: none;
    margin-top: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.5s;
    margin-right: 10px;
}
.btn2{
    font-size: 1em;
    color: #fff;
    background-color: #2a4963;
    padding: 10px 20px;
    display: inline-block;
    text-decoration: none;
    margin-top: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.5s;
    margin-right: 10px;
}
.btn1:hover,.btn2:hover{
    letter-spacing: 4px;
}
.sect{
    padding: 100px;
}
.row{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.row .col50{
    position: relative;
    width: 48%;
    justify-content: center;
    align-items: center;
}
.row .col50 h2{
    margin-bottom: 20px;
}
.text-title{
    color: #000;
    font-size: 2em;
    font-weight: 300px;
    text-transform: capitalize;
}
.text-title span{
    color: #fb911f ;
    font-size: 1.5em;
    font-weight: 700px;
}
.row .col50 .img{
    height: 450px;
    width: 600px;
    position: relative;
}
.title{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.menu{
    margin-top: -100px;
    margin-bottom: 100px;
}
.menu .content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 40px;
}
.menu .content .box{
    width: 350px;
    margin: 10px;
    border: 20px solid #fff;
    box-shadow: 20px 15px 35px rgba(0, 0, 0, 0.8);
}
.menu .content .box .imgbox{
    position: relative;
    width: 100%;
    height: 300px;
}
.menu .content .box .imgbox img{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.menu .content .box .text{
    text-align: center;
    font-weight: 300px;
    color: #111;
}
.menu .content .box .text h3{
    font-weight: 400;
}
.menu .btn{
    text-align: center;
}
.experts{
    margin-bottom: 100px;
}
.experts .content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
}
.experts .content .box{
    width: 250px;
    margin: 15px;
}
.experts .content .box img{
    position: relative;
    width: 100%;
    height: 300px;
    top: 0;
    left: 0;
    object-fit: cover;
}
.experts .content .box h3{
    color: #111;
    font-weight: 400;
    text-align: center;
}
.temoignage{
    background-image: url('./images/bg2.jpg');
    background-size: cover;
    margin-bottom: 100px;
}
.temoignage .content{
    display: flex;
    margin-top: 40px;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}
.temoignage .content .box{
    width: 340px;
    margin: 40px 10px;
    padding: 40px;
    background: #fff ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
}
.temoignage .content .box .imgbox{
    width: 80px;
    height: 80px;
    border-radius: 50px;
    position: relative;
    margin-bottom: 20px;
    overflow: hidden;
}
.temoignage .content .box .imgbox img{
    position: relative;
    width: 100%;
    height: 100% ;
    top: 0;
    left: 0;
    object-fit: cover;
    justify-content: center;
    align-items: center;
}
.temoignage .content .box .text {
    color: #666;
    font-style: italic;
    text-align: center;
}

.temoignage .content .box .text h3{
    color: #fb911f;
    margin-top: 20px;
    font-size: 1em;
    font-weight: 600;
}
.blanc {
    color: #fff;
}

.title p {
    color: #fff;
}